@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;  

  --accent-color: text-orange-600;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* A single form input that takes up full width */
.input-div-style {
  @apply relative z-0 w-full mb-16;
}

/* Allows to form inputs to be side-by-side */
.input-div-inline-style {
  @apply relative z-0 md:w-auto md:mr-6 mb-16;
}

.input-peer-style {
  @apply block py-2.5 px-0 w-full bg-transparent text-orange-800 border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-orange-600;
}

.input-label-peer-style {
  @apply peer-focus:font-medium absolute duration-300 transform -translate-y-7 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8 text-gray-600 peer-focus:text-orange-600;
}

.textarea-peer-style {
  @apply block py-2.5 px-3 w-full bg-transparent text-orange-800 rounded border-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-orange-600;
}

.textarea-label-peer-style {
  @apply peer-focus:font-medium absolute duration-300 transform -translate-y-7 scale-75 top-3 left-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8 text-gray-600 peer-focus:text-orange-600;
}

.input-label-plain-style {
  @apply text-base mt-0 mb-2 text-gray-500;
}

.input-file-style {
  @apply relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border-2 border-solid border-gray-600 bg-clip-padding px-3 py-4 font-normal leading-[2.15] text-base transition duration-300 ease-in-out file:-mx-3 file:-my-4 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-4 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-gray-500 focus:outline-none;
}

.input-error-style {
  @apply absolute top-full text-sm mt-1 mb-1 text-red-400;
}
